# Alpha Vantage

***

There are multiple ways to import data from the 'Alpha Vantage' API. <br>
As mentioned in the previous videos, requesting data from the 'Alpha Vantage' API is not the easiest option from a programmatic point of view. However, going through this IPython Notebook file will be a great exercise, especially if you feel confident enough about coding with Python or you are up for a challenge.

First, you'll need to pip install the alpha-vantage module. Hence, open Anaconda Prompt and run **pip install alpha-vantage**.
<br> <br>
Then, you need to go to https://www.alphavantage.co/ and click on "Get Your Free API Key". Save it, as you will need to replace all "INSERT-YOUR-API-KEY-HERE" strings you see within the code presented in this document.

Then, import the usual modules for retrieving and manipulating financial data in Python:

In [13]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

From the module you just installed, you need to import **TimeSeries**. Hence, the following line of code will do the job.

In [14]:
from alpha_vantage.timeseries import TimeSeries

Then, with the following line, designate your API key, as well as the format in which you would like to retrieve the data. In our case, this will be the 'pandas' module.

In [17]:
ts = TimeSeries(key = 'SS73HEDVYS5XPT5V', output_format='pandas')

Finally, give a name to the new variable, containing the name of the stock and a suffix indicating the API we have retrieved the data from. <br>
Next to this new variable, you need to give the name to "metadata", as it will be storing information about the dataset retrieved.

Then, apply the **.get_daily_adjusted()** method to obtain the adjusted closing prices for the designated stock.

In [18]:
PG_av, metadata = ts.get_daily_adjusted('PG', outputsize='full')
PG_av

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2020-05-08,113.52,116.30,113.39,115.865,115.8650,5510501.0,0.0,1.0
2020-05-07,114.06,114.14,111.82,112.170,112.1700,8762781.0,0.0,1.0
2020-05-06,115.54,116.14,112.89,113.100,113.1000,7889029.0,0.0,1.0
2020-05-05,115.80,117.26,115.21,116.010,116.0100,5425171.0,0.0,1.0
2020-05-04,117.09,117.20,115.00,115.770,115.7700,5635194.0,0.0,1.0
...,...,...,...,...,...,...,...,...
2000-05-12,65.00,65.56,63.63,64.130,18.8075,2127900.0,0.0,1.0
2000-05-11,64.38,65.19,63.25,65.000,19.0627,3333400.0,0.0,1.0
2000-05-10,63.31,64.81,62.94,64.190,18.8251,4104000.0,0.0,1.0
2000-05-09,61.25,63.06,61.25,62.750,18.4028,4226400.0,0.0,1.0
2000-05-08,60.13,61.38,60.06,61.190,17.9453,2794300.0,0.0,1.0

You can repeat the same exercise, using the tickers of other stocks, such as Apple, for instance ('AAPL').

In [19]:
from alpha_vantage.timeseries import TimeSeries
ts = TimeSeries(key = 'SS73HEDVYS5XPT5V', output_format='pandas')
AAPL_av, metadata = ts.get_daily_adjusted('AAPL', outputsize='full')
AAPL_av

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2020-05-07,303.22,305.17,301.9700,303.74,303.7400,28445326.0,0.0,1.0
2020-05-06,300.46,303.24,298.8700,300.63,300.6300,35583438.0,0.0,1.0
2020-05-05,295.06,301.00,294.4600,297.56,297.5600,36937795.0,0.0,1.0
2020-05-04,289.17,293.69,286.3172,293.16,293.1600,33391986.0,0.0,1.0
2020-05-01,286.25,299.00,285.8500,289.07,289.0700,60154175.0,0.0,1.0
...,...,...,...,...,...,...,...,...
2000-05-12,106.00,110.50,104.7700,107.62,3.3359,2740300.0,0.0,1.0
2000-05-11,101.37,104.25,99.0000,102.81,3.1868,4462000.0,0.0,1.0
2000-05-10,104.06,105.00,98.7500,99.31,3.0783,4777600.0,0.0,1.0
2000-05-09,110.31,111.25,104.8700,105.44,3.2683,2920900.0,0.0,1.0
2000-05-08,112.09,113.69,110.0000,110.12,3.4134,1650900.0,0.0,1.0

Apart from US stocks, you can retrieve data about foreign stocks (e.g. Beiersdorf, ticker: 'BEI.DE'), or market indices (e.g. Standard & Poor's, ticker: '^GSPC', or Dow Jones, ticker: '^DJI').

In [22]:
from alpha_vantage.timeseries import TimeSeries
ts = TimeSeries(key = 'SS73HEDVYS5XPT5V', output_format='pandas')
BEIDE_av, metadata = ts.get_daily_adjusted('BEI.DE', outputsize='full')
BEIDE_av

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2020-05-08,92.6600,94.7800,92.4400,94.2800,94.2800,320703.0,0.0,1.0
2020-05-07,91.1000,92.4400,90.8600,92.2400,92.2400,456118.0,0.0,1.0
2020-05-06,89.4000,91.8400,89.4000,91.0000,91.0000,608925.0,0.0,1.0
2020-05-05,92.0000,92.1200,88.3800,89.2800,89.2800,898156.0,0.0,1.0
2020-05-04,94.3000,94.5000,91.3000,91.9000,91.9000,707742.0,0.0,1.0
...,...,...,...,...,...,...,...,...
2000-05-12,24.3733,25.6667,24.3733,25.6000,13.1286,44490.0,0.0,1.0
2000-05-11,24.6667,25.3333,24.3933,24.3933,12.5098,51876.0,0.0,1.0
2000-05-10,25.8333,26.0000,25.2667,25.4500,13.0517,45510.0,0.0,1.0
2000-05-09,25.3333,26.6667,25.1000,26.6000,13.6415,95475.0,0.0,1.0
2000-05-08,24.9333,26.0000,24.5500,25.5000,13.0773,46725.0,0.0,1.0

To combine specific columns from various stocks, one would need to *concatenate* the columns of interest by using the **.concat()** function to specify which columns you want to extract.

In [23]:
pfolio_av = pd.concat([PG_av['5. adjusted close'], BEIDE_av['5. adjusted close']], axis = 1)
pfolio_av

            5. adjusted close  5. adjusted close
date
2000-05-08            17.9453            13.0773
2000-05-09            18.4028            13.6415
2000-05-10            18.8251            13.0517
2000-05-11            19.0627            12.5098
2000-05-12            18.8075            13.1286
...                       ...                ...
2020-05-04           115.7700            91.9000
2020-05-05           116.0100            89.2800
2020-05-06           113.1000            91.0000
2020-05-07           112.1700            92.2400
2020-05-08           115.8650            94.2800

[5176 rows x 2 columns]

Finally, use **.columns** and assign a list with the names of the columns should you wish to change them.

In [24]:
pfolio_av.columns = ['PG', 'BEIDE']
pfolio_av

                  PG    BEIDE
date
2000-05-08   17.9453  13.0773
2000-05-09   18.4028  13.6415
2000-05-10   18.8251  13.0517
2000-05-11   19.0627  12.5098
2000-05-12   18.8075  13.1286
...              ...      ...
2020-05-04  115.7700  91.9000
2020-05-05  116.0100  89.2800
2020-05-06  113.1000  91.0000
2020-05-07  112.1700  92.2400
2020-05-08  115.8650  94.2800

[5176 rows x 2 columns]